.container {
    width: 960px;
    margin: 0 auto;
    background: #e2e2e2;
}
header {     
    background: #efefef;
    padding: .3rem;
}
.fluid-bar {
    background: #3d3d3d;
    height: 0.3rem;
    opacity: 0.4;
    margin-bottom: -0.3rem;
}
h1 {
    text-align: center;
    font-weight: 400;
    color: #595959;
    
}
.actions {
    float: right;
}
section {
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    padding: 0.4em 0.9em;
    margin: 0px -3px;
    font-size: 6em;
    display: inline-block;
    color: #fff;
    font-weight: 100;
}
.list-item-3,
.list-item-5,
.list-item-9 {
    background: #2f454e;
}
.list-item-2,
.list-item-4 {
    background: #2b8ead;
}
.list-item-1,
.list-item-8 {
    background: #6f98a8;
}
.list-item-6,
.list-item-7 {
    background: #bfbfbf;
}

.btn {
    overflow: visible;
    display: block;
    width: 15rem;
    position: relative;
    top: 0px;
    font-family: inherit;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;   
    padding: 1rem 3rem;
    margin: 1.6rem 1.8rem 0 0.8rem;
    box-shadow: 0px 5px 0px #c4c4c4;   
    transition: All 100ms ease-in;
    padding: 0.8rem 2rem;	
    background: #72c3dc;
    color: #fff;
    border: 1px solid #2b8ead;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #2b8ead;
    text-shadow: 1px 1px 1px #2b8ead;
    font-weight: 100;
    cursor: pointer;
}

footer {
    font-size: 0.8rem;
    text-align: center;
    color: #333;
    padding: 5px;
    font-style: italic;
}
@media screen and (min-width: 360px) and (max-width: 768px) {
    .container {      
       width: 100%;
       padding : 0;    
       background: black;
       border-bottom: 1px solid white;
    }
  
  header {
   background: black; 
   max-height: 4rem;
   padding: 0.5 rem;
  }
  
  .mobile {
    background: white;
    margin: 1rem;
  }
    .fluid-bar {
        display: none;
    }
    .actions {
        float: none;
        margin: 1rem;
        width: auto;
        border: 0;
        text-align: center;
    }
    h1 {
        color: #e2e2e2;
        font-weight: 700;
        height: 4rem;
    }
    .btn {
        overflow: visible;
        padding: 1rem 1.5rem;
        display: inline-block;
        margin: 0.8rem;
        width: 7rem;
    }
    ul li {
        list-style: none;
        padding: 0.3rem;
        display: block;
        margin: 1rem;
        color: #333;
        font-size: 3rem;
        text-align: center;
    }
    .list-item-1,
    .list-item-2,
    .list-item-3,
    .list-item-4,
    .list-item-5,
    .list-item-6,
    .list-item-7,
    .list-item-8,
    .list-item-9 {
        background: #efefef;
        margin-bottom: 0.8rem;
    }
    .list-item-3,
    .list-item-5,
    .list-item-9 {
        border-left: 0.5rem solid #2f454e;
    }
    .list-item-2,
    .list-item-4 {
        border-left: 0.5rem solid #2b8ead;
    }
    .list-item-1,
    .list-item-8 {
        border-left: 0.5rem solid #6f98a8;
    }
    .list-item-6,
    .list-item-7 {
        border-left: 0.5rem solid #bfbfbf;
    }
}
